<!DOCTYPE html>
<html lang="en" class="astro-privacy-policy">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Privacy Policy | Gemini Pro Chat</title>
        <style>
            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                line-height: 1.6;
                margin: 0;
                padding: 0;
                background-color: #f4f4f4;
                color: #333;
            }
            main {
                max-width: 800px;
                margin: 20px auto;
                padding: 20px;
                background: #fff;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
            a {
                color: #0066cc;
            }
            a:hover {
                text-decoration: underline;
            }
            ul {
                padding-left: 20px;
            }
            li {
                margin-bottom: 10px;
            }
            p, ul {
                text-align: justify;
            }
            .astro-privacy-policy {
                margin-bottom: 15px;
            }
            h1.astro-privacy-policy {
                font-size: 28px;
                color: #000000; /* 深黑色标题 */
                font-weight: 600; /* 更加粗的字体 */
            }
            h2.astro-privacy-policy {
                font-size: 20px;
                color: #000000; /* 深黑色标题 */
                font-weight: 600; /* 更加粗的字体 */
            }
        </style>
    </head>
    <body class="astro-privacy-policy">
        <main class="astro-privacy-policy">
            <h1 class="astro-privacy-policy">Privacy Policy</h1>
            <p class="astro-privacy-policy">Revision date: December 13, 2023</p>
            <p class="astro-privacy-policy">We appreciate your decision to join the Gemini Pro Chat community. Your privacy and the protection of your personal information are of utmost importance to us. Should you have any inquiries or issues regarding this privacy notice, or how we handle your personal data, feel free to reach out to us at epic.can@outlook.com.</p>
            <p class="astro-privacy-policy">Appreciating Your Trust in Using Our Chat Service
                We value the trust you place in us by using our chat service ('Service') at gemini-ai.top. Protecting your personal information and respecting your privacy rights is a top priority for us. For any queries or concerns regarding our privacy practices or this notice, please feel free to contact us at epic.can@outlook.com.</p>
            <h2 class="astro-privacy-policy">1. Collection of Personal Data</h2>
            <p class="astro-privacy-policy">Briefly: No personal data is gathered from you, owing to the absence of a user account system.</p>
            <p class="astro-privacy-policy">Our Service offers immediate chat functionality without requiring account registration. Your messages are directly processed through the Google Gemini Pro API, and we ensure not to retain any of these communications on our servers.</p>
            <h2 class="astro-privacy-policy">2. Information Sharing Policy</h2>
            <p class="astro-privacy-policy">To put it simply: Since we neither collect nor store any personal details or chat logs, sharing such information is not applicable.</p>
            <p class="astro-privacy-policy">Given that our Service operates without retaining any chat records or personal data, there's no possibility of sharing data with external entities.</p>
            <h2 class="astro-privacy-policy">3. Application of Cookies and Tracking Methods</h2>
            <p class="astro-privacy-policy">In summary: We implement tracking tools to monitor activities within our Service and maintain certain details.</p>
            <p class="astro-privacy-policy">Our Service functions without the need for user profiles; however, we employ cookies and similar tracking mechanisms for information retrieval and storage. Specifically, analytics services like Google Analytics are utilized to comprehend usage patterns, including monitoring activities on our Service.</p>
            <p class="astro-privacy-policy">Analytics cookies are instrumental in anonymously gathering and reporting data, enhancing our understanding of user interactions on our site. This information is vital for upholding our Service's quality and providing aggregate statistics about our website's utilization.</p>
            <p class="astro-privacy-policy">Should you wish to opt out of cookie usage on our site, it's necessary to first deactivate cookies in your browser settings, followed by erasing any stored cookies related to our website in your browser. This option is available at any time to prevent cookie usage.</p>
            <p class="astro-privacy-policy">Please be aware that not accepting our cookies might lead to some limitations in your Service experience, potentially affecting certain functionalities.</p>
            <p class="astro-privacy-policy">For guidance on managing and removing cookies, you can refer to internetcookies.org or your browser's help section.</p>
            <h2 class="astro-privacy-policy">4. Management of Social Logins</h2>
            <p class="astro-privacy-policy">To be concise: Our Service doesn't incorporate social login features since it's accessible without the necessity for an account.</p>
            <h2 class="astro-privacy-policy">5. Our Position Regarding External Site</h2>
            <p class="astro-privacy-policy">Briefly: Our responsibility does not extend to the security of any data you share with external providers who might advertise on our website but are not partnered with us.</p>
            <p class="astro-privacy-policy">Our Service might display ads from third-party entities, leading to their websites, online platforms, or apps, none of which are associated with our Service. The safety and confidentiality of any information you disclose to these third parties fall outside our jurisdiction. This privacy policy does not encompass data collection by these external parties. We do not hold any accountability for the practices or policies related to content, privacy, and security of these third-party websites, services, or applications, even if they are linked to our Service.</p>
            <h2 class="astro-privacy-policy">6. Duration of Information Storage</h2>
            <p class="astro-privacy-policy">Simply put: Since no personal data is gathered, there's no retention of such information.</p>
            <h2 class="astro-privacy-policy">7. Safeguarding Your Data</h2>
            <p class="astro-privacy-policy">In brief: Our commitment to data protection involves organizational and technical safeguards.</p>
            <p class="astro-privacy-policy">Given that our Service doesn't acquire any personal data, the risk of such information being exposed or compromised is nonexistent.</p>
            <h2 class="astro-privacy-policy">8. Understanding Your Privacy Rights</h2>
            <p class="astro-privacy-policy">Briefly: At any moment, you have the option to examine, modify, or discontinue your engagement with our Service.</p>
            <p class="astro-privacy-policy">Should you need to inquire or discuss matters related to your privacy rights, feel free to reach out to us via email at epic.can@outlook.com.</p>
            <h2 class="astro-privacy-policy">9. Data Breach</h2>
            <p class="astro-privacy-policy">In cases of a data breach, characterized by unauthorized acquisition, utilization, revelation, or elimination of personal information, prompt notification will be provided if Gemini Pro Chat determines a significant risk or harm to you. Data breaches, for example, may pose substantial financial risks or adversely affect your mental or physical health. Should Gemini Pro Chat identify any security incident that has resulted in or may lead to unauthorized access or sharing of personal information, we will conduct an immediate investigation and ensure that relevant authorities are informed within no more than 72 hours from the moment of detection, in compliance with legal requirements.</p>
            <h2 class="astro-privacy-policy">10. Handling Do-Not-Track Preferences</h2>
            <p class="astro-privacy-policy">Many web browsers, along with certain mobile operating systems and apps, offer a Do-Not-Track ('DNT') option, allowing users to express their preference against having their online browsing behavior monitored or collected. Currently, there is no universally accepted standard for how DNT requests are interpreted and acted upon. Consequently, our Service does not presently acknowledge or react to DNT signals or similar mechanisms conveying your choice to opt-out of online tracking. Should future regulations necessitate compliance with a specific standard for online tracking, we will duly update our practices and notify you through an amended privacy policy.</p>
            <h2 class="astro-privacy-policy">11. Privacy Rights for Residents of California</h2>
            <p class="astro-privacy-policy">In essence: As a California resident, you are entitled to specific rights concerning the access and control of your personal data.</p>
            <p class="astro-privacy-policy">Under the provisions of California Civil Code Section 1798.83, commonly referred to as the 'Shine The Light' law, residents of California can annually request, without any charge, details about the types of personal information (if any) disclosed by us to third parties for direct marketing purposes, along with the identities and addresses of these third parties, during the prior calendar year. If you reside in California and wish to exercise this right, kindly forward your request in writing to us using our provided contact details.</p>
            <p class="astro-privacy-policy">Furthermore, if you are a minor under 18 years old living in California and have a registered account with our Service, you are empowered to ask for the deletion of any undesirable data that you have publicly posted on our Service. For such removal requests, please contact us with the email linked to your account, confirming your residence in California. While we will ensure such data is not publicly visible on our Service, be aware that complete and exhaustive removal from our systems may not be feasible.</p>
            <h2 class="astro-privacy-policy">12. Policy Revision Practices</h2>
            <p class="astro-privacy-policy">Briefly: We regularly update our policy to align with evolving legal requirements.</p>
            <p class="astro-privacy-policy">It's our practice to periodically revise our privacy policy. Any such updates will be signified by a new 'Revised' date, and these changes will take effect immediately upon being published. In cases of significant amendments to our privacy policy, we will inform you either through a prominent notice on our website or via direct communication. We advise you to periodically review our privacy policy to stay informed about the measures we take to safeguard your information.</p>
            <h2 class="astro-privacy-policy">13. Reaching Out Regarding This Policy</h2>
            <p class="astro-privacy-policy">Should you have any inquiries or feedback about our policy, feel free to connect with us via email at epic.can@outlook.com.</p>
            <p class="astro-privacy-policy">
                Additionally, for a comprehensive understanding of the terms related to the chat functionality powered by Google, we recommend reviewing the Google Gemini Pro API Terms of Service available at <a href="https://ai.google.dev/terms" target="_blank" rel="noopener noreferrer" class="astro-privacy-policy">https://ai.google.dev/terms</a>
            </p>
            <h2 class="astro-privacy-policy">14. Managing Your Data with Us</h2>
            <p class="astro-privacy-policy">Depending on your country's legislation, you hold the right to access, modify, or in certain situations, erase the personal data we have collected from you. Should you wish to review, alter, or remove your personal data, please send us your request via email at epic.can@outlook.com. We are committed to addressing your request within a 30-day timeframe.</p>
        </main>
    </body>
</html>
