---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://gemini-ai.top" class="gpt-title">Gemini Pro</a>
    <a href="https://gemini-ai.top" class="gpt-subtitle">Chat</a>
  </div>
  <p mt-1 op-60>
    Based on
    <a href="https://google.com">Google </a>
    Development Team
    <!-- <a href="https://blog.geminiprochat.com/posts/what-is-gemini"> Gemini Pro API.</a>
    <a href="https://github.com/babaohuang/GeminiProChat" class="font-bold">Source code</a> -->
  </p>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1171318789530444"
     crossorigin="anonymous"></script>
</header>
